@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400;500;600;700&family=Herr+Von+Muellerhoff&display=swap');

/* reset kodları before after*/
*,
*::before,
*::after{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   border: 0;
   font-family: 'Edu NSW ACT Foundation', cursive;
}
   
a,
a:link,
a:visited{
   text-decoration: none;
   outline: none;
   border: none;
}

ul,
li{
   list-style: none;
   margin: 0;
   padding: 0;
}
section,
span,
p{
   margin: 0;
   padding: 0;
   outline: none;
   border: none;
}

.container{
   max-width: 1170px;
   margin: 0 auto;
   padding: 0 15px;

}

.header{
   background-image: url(arkaplan.jpg);
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   height: 100vh;
}

.header-navbar{
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 50px 0;
}

.header-logo{
   font-size: 16px;
   letter-spacing: 2px;
   border-bottom: 5px solid black;
   border-radius: 50px;
   border-style: dotted;
   padding-bottom: 6px;
}

ul{
   display: flex ;
}
 
li{
   margin-left: 27px;
}
li:first-child{
   margin: right 70px;
}

a{
   color: black;
   font-weight: bold;
   font-size: 15px;
}
.header-text{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translateX(-50%);
   display: flex;
   align-items:center;
   justify-content:center;
   flex-direction: column;

}

h1{
   font-size: 8.4rem;
   font-weight: 100;
   line-height: 0.4;
   letter-spacing: 2px;
   font-family: 'Herr Von Muellerhoff', cursive;
   color:goldenrod;  
}

.first-letter{
   font-size: 10.6rem;
   font-family: 'Herr Von Muellerhoff', cursive;
   color: goldenrod;

}

h3{
  margin-bottom: 25px;
  font-size: 23px;
  color:darkgoldenrod;
}

.btn-cafe{
  
   display: block;
   background-color: #e89852;
   color: antiquewhite;
   padding: 10px 20px ;
   border-radius: 30px;
   text-align: center;
   font-size: 16px;
   margin: 4px 2px;
   position: relative;/*normal konuma hali*/
   overflow: hidden;
}

/*butonun animasyon şeklinde olması için */
.btn-cafe::after{
   content: "BUY";
   position: absolute; /*konumlandırma yöntemi*/
   top: 100%;
   left: 0%;
   background-color: #e27312;
   width:100%;
   height: 100%;
   display: flex;
   align-items: center;/*Dikey eksende hizalama*/
   justify-content: center; /*(flex) yatay eksende hizalama*/
   transition: .4s;
}
/* animasyon yapma */
.btn-cafe:hover::after{
   top: 0; 
}

/* ABOUT */
.about{
   margin-bottom: 160px ;
   background-image: url(sy2.jpg);
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   height: 100vh;
  
}

.about-title{
   margin: 80px 0;
}

.about-title h2{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #e27312;
  font-size: 30px;
  font-weight:600 ;
}

.about-title h2::after{
   content:"";
   width: 75px;
   height: 3px;
   background-color: #e27312;
   margin: 0 auto;
   display: block;
   margin-top: 13px;
   
}
 .about-content{
   display: flex;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   }

 .about-img {
   width: 45%;
 }
 .about-img img{
   width: 100%;
   height: 100%;
   object-fit: cover;
 }

 .about-text{
   width: 45%;
 }

 h4{
   margin-bottom: 25px;
   text-align: center;
   font-size: 48px;
   color: chocolate;
   font-weight: bold;
   letter-spacing: 0.4rem;
   font-family: 'Herr Von Muellerhoff', cursive;
 }
 
 #icon{
   color: chocolate;
   margin-bottom: 23px;
   text-align: center;
 }

.about-text{
   font-size: 20px;
   text-align: center;
   color:saddlebrown;
   font-weight: 500;
}

/* PORTFOLİO  */
.port{
   display: flex;
}

.port-item{
   width: 45%;
   height: 350px;
   overflow: hidden;
   position: relative;
   transition: .5s;
}

.port-item img{
   width: 100%;
   height: 100%;
   object-fit: cover;
   transition: .5s;
}

.overlay{
   width: 100%;
   height: 100%;
   background-color:darkred;
   position: absolute;
   top:100%;
   left: 0;
   opacity: 0.8;
   color: beige;
   font-size: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: .5s ;
}

.port-item:hover .overlay{
   top: 0;  
}
.port-item:hover img{
   transform: scale(1.1);
}

/*CONTACT*/
.contact{
    padding:10px 0;
}
.contact h2{
  width: 100%;
  text-align: center;
  margin: 0 auto;
  color: #e27312;
  font-size: 30px;
  font-weight:600 ;
}

.contact h2::after{
    content:"";
    width: 75px;
    height: 3px;
    background-color: #e27312;
    margin: 0 auto;
    display: block;
    margin-top: 13px;
}

.contact-content{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
    
}
.contact-item{
    display: flex;
    align-items: center;
    flex-basis: 33%;
    margin-bottom: 100px;
    flex-direction: column;
}
.contact-item i{
    font-size: 26px;
    margin-bottom: 34px;
    color: #e89852;
}

.contact-item p{
    font-size: 15px;
    line-height: 12px;
}

/* FOOTER */
.footer h2{
    width: 100%;
    text-align: center;
    margin: 0 auto;
    color: #e27312;
    font-size: 33px;
    font-weight:600 ;
    padding: 56px;
  }
  
  .footer h2::after{
      content:"";
      width: 75px;
      height: 3px;
      background-color: #543113;
      margin: 0 auto;
      display: block;
      margin-top: 13px;
  }
  .footer{
   background-color: #543113;
  }
  .footer-copyright{
   color: beige;
   text-align: center;
   flex-basis: 56%;
   font-size: 18px;
   margin-bottom: 26px;
  }
  .footer-content{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
}
  .footer-social{
    color: aliceblue;
    margin-bottom: 45px;
    font-size: 26px;
    padding: 0 45px;
}
#menu{
   font-size: 24px;
   display: none;
   margin-left: 22px;
}
/* MENU */
@media only screen and (max-width:800px){
  .header-menu ul{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column;
   position: absolute;
   top: 100px;
   left: 0px;
   background-color: #7a4c24;
   width: 100%;
   overflow:hidden;
   transition: max-height .5s;
  }
  .header-menu ul li{
   margin-right: 50px;
   margin-top: 6px;
   margin-bottom: 6px;
  }
  .header-menu ul li a{
   color: aliceblue;
  }
  .header-menu #menu{
   display: block;
   cursor: pointer;
}
}

/* ABOUT */
@media only screen and (max-width:990px){
   .about-img{
      width: 100%;
      margin-bottom: 25px;
   }
   .about-text{
      width: 100%;
   }
}

/* PORFOLİO */
@media only screen and (max-width:990px){
   .port .port-item{
      flex-basis: 50%;
   }
}

@media only screen and (max-width:800px){
   .contact-content{
      flex-direction: column;
   }
   .content-item{
      margin-top: 25px;
   }
}